{% extends "signed-in/base.html"%} {% block content %}

<style>
    h1 {text-align: center;}
</style>

<style>
    /* Style for the back button */
    #backButton {
        position: fixed;
        top: 20px;
        left: 20px;
        margin-right: 10px;  /* Add margin to the right */
        margin-bottom: 10px; /* Add margin to the bottom */
        background-color: #007BFF;
        color: #fff;
        padding: 10px;
        text-decoration: none;
        border-radius: 5px;
}
</style>
<a href="javascript:history.back()">Back</a>

<h1>TOP ARTISTS</h1>
{% for artist in top_artists %}
    <div class="card">
        <div class="row">
            <div class="col col-md-6">
                <img src="{{artist.5}}" class="img-fluid artist-image" alt="Responsive image">
            </div>

            <div class="col col-md-6">
                <input type="hidden" id="a{{artist.0}}" name="artistID" value="{{artist.0}}" />
                <div class="card-body">
                    <h2 class="my-4">{{artist.1}}</h2>
                    <p>
                        Followers: {{artist.2}}
                    </p>
                    <p>
                        Genre(s):
                        {% for a in artist.4 %}
                            {{a}}
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </p>
                    <p>
                        Popularity: {{artist.3}}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<br></br>
<style>
    .artist-image {
        width: 35%; 
        height: auto; 
    }
</style>
{% endblock %}