{% extends "signed-in/base.html"%} {% block content %}

<style>
    h1 {text-align: center;}
</style>

<style>
    /* Style for the back button */
    #backButton {
        position: fixed;
        top: 20px;
        left: 20px;
        margin-right: 10px;  /* Add margin to the right */
        margin-bottom: 10px; /* Add margin to the bottom */
        background-color: #007BFF;
        color: #fff;
        padding: 10px;
        text-decoration: none;
        border-radius: 5px;
    }
</style>
<br></br>

<h1>Create a Post</h1>

<div style="text-align: center; margin-top: 50px;">
    <form method="post" action="{% url 'create_post' %}" style="display: inline-block;">
        {% csrf_token %}
        <textarea name="content" placeholder="Type here" rows="10" cols="50" required></textarea><br>
        <br>
        </br>
        <button type="submit" class="btn btn-primary" style="background-color:#1db954; border:none">
            Submit Post
        </button>
    </form>
</div>
{% endblock %}