{% extends "signed-in/base.html"%} {% block content %}
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <style>
                /* Style for the back button */
                #backButton {
                    position: fixed;
                    top: 20px;
                    left: 20px;
                    margin-right: 10px;  /* Add margin to the right */
                    margin-bottom: 10px; /* Add margin to the bottom */
                    background-color: #007BFF;
                    color: #fff;
                    padding: 10px;
                    text-decoration: none;
                    border-radius: 5px;
            }
            </style>
            <a href="javascript:history.back()">Back</a>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <form class="form-container" action="{%url 'update_user_profile'%}" method="POST">
                    {% csrf_token %}
                    <h3 class="text-center mb-3">Update Profile</h3>
                    <br />
                    <div class="form-group">
                        <label>Bio:</label>
                        <input
                            type="text"
                            class="form-control"
                            value="{{ bio }}"
                            placeholder=""
                            name="bio"
                        />
                    </div>

                    <div class="form-group">
                        <label>Computing ID:</label>
                        <input
                            type="text"
                            class="form-control"
                            value="{{ comp_id }}"
                            placeholder=""
                            name="comp_id"
                        />
                    </div>

                    <div class="form-group">
                        <label>School:</label>
                        <input
                            type="text"
                            class="form-control"
                            value="{{ school }}"
                            placeholder=""
                            name="school"
                        />
                    </div>

                    <div class="form-group">
                        <label>Area of Study:</label>
                        <input
                            type="text"
                            class="form-control"
                            value="{{ area_study }}"
                            placeholder=""
                            name="area_study"
                        />
                    </div>

                    <div class="form-group">
                        <label>New Password:</label>
                        <input type="password" class="form-control" name="password" />
                    </div>

                    <div class="form-group">
                        <label>Re-Enter New Password:</label>
                        <input type="password" class="form-control" name="re_password" />
                    </div>

                    <button
                        type="submit"
                        class="btn btn-primary btn-block"
                        style="background-color: #1db954; border: none"
                    >
                        Update</button
                    ><br />
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/esm/popper"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

{% endblock %}
