{% extends "signed-in/base.html"%} {% block content %}

<style>
    h1 {
        text-align: center;
    }
</style>

<h1>Welcome to Spotify Social!</h1>
<br></br>
<h2 class="display-9">Most Recent Posts</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for post in posts %}
            <div class="col">
                <div class="card text-center" style="border-color: #1db954;  display: flex; flex-direction: column; height: 100%;">
                    <div class="card-body" style="display: flex; flex-direction: column;">
                        <div style="display: flex; justify-content: space-between;">
                            <h2 class="card-title my-2 text-start" style="font-size: 15px;">{{post.0}}</h2>
                            <h2 class="card-title my-2 text-start" style="font-size: 15px;">Posted: {{post.1}}</h2>
                        </div>
                        <hr class="my-2" style="border-color: #1db954; background-color: #1db954;">
                        <p class="card-text" style="font-size: 24px;">{{post.2}}</p>
                    </div>
                </div>
            </div>
    {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/esm/popper"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
