    <style>
        h1 {text-align: center;}
        .posts {
            text-align: center;
        }
    </style>

{% extends "signed-in/base.html"%}

{% block content %}
    <h1>Spotify Posts</h1>

    <div id="posts_container">
        <p>This is a test to check if the template is rendering.</p>
        <table>
            <thead>
                <tr>
                    <th>user_name</th>
                    <th>date_time</th>
                    <th>content</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{ post.0 }}</td>
                    <td>{{ post.1 }}</td>
                    <td>{{ post.2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
