{% extends "signed-in/base.html"%} {% block content%}
<a type="button" class="btn btn-primary" href="{% url 'user_edit_profile_page' %}">Edit Profile</a>
<a type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirm">Delete Account</a>

<div id="user_info">
    <table>
        <thead>
            <tr>
                <th>user_name</th>
                <th>fname</th>
                <th>lname</th>
                <th>area_of_study</th>
                <th>numposts</th>
                <th>school</th>
                <th>areastudy</th>
            </tr>
        </thead>
        <tbody>
            {% for row in results %}
            <tr>
                <td>{{ row.0 }}</td>
                <td>{{ row.1 }}</td>
                <td>{{ row.2 }}</td>
                <td>{{ row.3 }}</td>
                <td>{{ row.4 }}</td>
                <td>{{ row.5 }}</td>
                <td>{{ row.6 }}</td>
                <td>{{ row.7 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h1>TOP ARTISTS</h1>
{% for artist in top_artists %}
    <div class="card">
        <div class="row">
            <div class="col col-md-6">
                <img src="{{artist.5}}" class="img-fluid artist-image" alt="Responsive image">
            </div>

            <div class="col col-md-6">
                <input type="hidden" id="a{{artist.0}}" name="artistID" value="{{artist.0}}" />
                <div class="card-body">
                    {{artist.1}}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<br></br>
<h2>TOP SONGS</h2>
{% for track in top_tracks %}
    <div class="card">
        <div class="row">
            <div class="col col-md-6">
                <input type="hidden" id="t{{track.0}}" name="trackID" value="{{track.0}}" />
                <div class="card-body">
                    {{track.1}}
                    <p>
                        By:
                        {% for a in track.4 %}
                            {{a}}
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<br></br>

<!-- Modal -->
<div
    class="modal fade"
    id="deleteConfirm"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deleteConfirmLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmLabel">Deleting Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">Are you sure you want to DELETE your account?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">keep account</button>
                <a type="button" class="btn btn-danger" href="{% url 'delete_user_profile' %}">Delete account</a>
            </div>
        </div>
    </div>
</div>

<style>
    .artist-image {
        width: 20%; 
        height: auto; 
    }
    .album-image {
        width: 20%; 
        height: auto; 
    }
</style>
{% endblock %}
