{% extends "signed-in/base.html"%} {% block content %}

<style>
    /* Style for the back button */
    #backButton {
        position: fixed;
        top: 20px;
        left: 20px;
        margin-right: 10px;  /* Add margin to the right */
        margin-bottom: 10px; /* Add margin to the bottom */
        background-color: #007BFF;
        color: #fff;
        padding: 10px;
        text-decoration: none;
        border-radius: 5px;
    }
</style>

<a href="javascript:history.back()">Back</a>

<div id="user_info">
    {% for row in results %}
        <h2>{{row.0}}</h2>
            <p><strong>First Name:</strong> {{row.1}}</p>
            <p><strong>Last Name:</strong> {{row.2}}</p>
            <p><strong>School:</strong> {{row.5}}</p>
            <p><strong>Area of Study:</strong> {{row.6}}</p>
            <p><strong>Number of Posts:</strong> {{row.4}}</p>
    {% endfor %}
</div>

<h2>Profiles</h2>
<div class="row">
    {% for profile in profiles %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <strong style="font-size: 20px;">{{profile.0}}</strong><br>
                    <strong>Name:</strong> {{profile.3}}<br>
                    <strong>School:</strong> {{profile.5}}<br>
                    <strong>Area of Study:</strong> {{profile.6}}<br>
                    <strong>Number of Posts:</strong> {{profile.4}}
                </div>
                <form class="form-container" action="{%url 'view_user_profile'%}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{profile.0}}" name="user_name" />
                    <button type="submit" class="btn btn-primary btn-sm">View Profile</button>
                </form>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
