{% extends "signed-in/base.html"%} {% block content%}

<style>
    /* Style for the back button */
    #backButton {
        position: fixed;
        top: 20px;
        left: 20px;
        margin-right: 10px;  /* Add margin to the right */
        margin-bottom: 10px; /* Add margin to the bottom */
        background-color: #007BFF;
        color: #fff;
        padding: 10px;
        text-decoration: none;
        border-radius: 5px;
    }
</style>
<a href="javascript:history.back()">Back</a>
<br></br>

<div id="user_info">
    {% for row in results %}
        <h2>{{row.0}}</h2>
            <p><strong>First Name:</strong> {{row.1}}</p>
            <p><strong>Last Name:</strong> {{row.2}}</p>
            <p><strong>School:</strong> {{row.5}}</p>
            <p><strong>Area of Study:</strong> {{row.6}}</p>
            <p><strong>Number of Posts:</strong> {{row.4}}</p>
    {% endfor %}
</div>
<a type="button" class="btn btn-primary" href="{% url 'user_edit_profile_page' %}">Edit Profile</a>
<a type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirm">Delete Account</a>
<br></br>

<h1 class="display-6">TOP 3 ARTISTS</h1>
<div class="card-group">
    {% for artist in top_artists %}
        {% if forloop.counter <= 3 %}
            <div class="card text-center">
                <img src="{{artist.5}}" class="card-img-top mx-auto img-fluid artist-image" alt="Responsive image">
                <div class="card-body">
                    <input type="hidden" id="a{{artist.0}}" name="artistID" value="{{artist.0}}" />
                    <h2 class="card-title my-4">{{artist.1}}</h2>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<br></br>
<h3 class="display-6">TOP 3 SONGS</h3>
<div class="card-group">
    {% for track in top_tracks %}
        {% if forloop.counter <= 3 %}
            <div class="card text-center">
                <img src="{{track.10}}" class="card-img-top mx-auto img-fluid track-image" alt="Responsive image">
                <div class="card-body">
                    <h4 class="card-title my-4">{{track.1}}</h4>
                    <p class="card-text">
                        By:
                        {% for a in track.9 %}
                            {{a}}
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<br></br>

<!-- Modal -->
<div
    class="modal fade"
    id="deleteConfirm"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deleteConfirmLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmLabel">Deleting Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">Are you sure you want to DELETE your account?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">keep account</button>
                <a type="button" class="btn btn-danger" href="{% url 'delete_user_profile' %}">Delete account</a>
            </div>
        </div>
    </div>
</div>

<style>
    .artist-image {
        width: 40%; 
        height: auto; 
    }
    .track-image {
        width: 40%; 
        height: auto; 
    }
</style>
{% endblock %}